---
---

@import "{{ site.theme }}";

header, section, footer {
    width: auto;
    float: none;
    position: static;
}

header {
    .icons {
        margin-bottom: 20px;
        line-height: 0;

        a {
            display: inline-block;
            margin-right: 10px;

            img {
                width: 24px;
            }
        }
    }
}

section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
}

@media print, screen and (max-width: 960px) {
    header {
        padding: 0;
    }
}
